h1
{
   font-family: italica;
   color: black;
   font-size: 90px;
}
h2
{
   font-family: italica;
   color: black;
   font-size: 40px;
}
h4
{
   font-family: italica;
   color: black;
   font-size: 40px;
}
p
{
  color: black;
  font-family: courier;
  font-size: 20px;
  text-align: justify
}
ul
{
  color: black;
  font-family: courier;
  font-size: 20px;
  text-align: justify
}
label
{
  font-family: courier;
}
input
{
  font-family: courier;
}
small
{
  font-family: courier;
}
button
{
  font-family: courier;
}
body
{
  background-image: url(https://image.freepik.com/vector-gratis/fondo-pincel-acrilico-abstracto-azul-textura-fondo_53876-86373.jpg);
  background-size: cover;
}